@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 100;
    src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), url('../roboto-fontface/fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 300;
    src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url('../roboto-fontface/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 400;
    src: local('RobotoDraft'), local('RobotoDraft-Regular'), url('../roboto-fontface/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 500;
    src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url('../roboto-fontface/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 700;
    src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url('../roboto-fontface/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 900;
    src: local('RobotoDraft Black'), local('RobotoDraft-Black'), url('../roboto-fontface/fonts/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: italic;
    font-weight: 400;
    src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url('../roboto-fontface/fonts/Roboto-RegularItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: italic;
    font-weight: 700;
    src: local('RobotoDraft Bold Italic'), local('RobotoDraft-BoldItalic'), url('../roboto-fontface/fonts/Roboto-BoldItalic.ttf') format('truetype');
}
